<div class="section-header">
  <h5 class="pretitle">Take your game to the next level</h5>
  <h1 class="text">GET <span class="text-highlight">Good</span></h1>
</div>
<br>

<div class="second-title">
  <p>
    Professional, one-on-one training that boosts
    <br>
    your skills in your favorite games.
  </p>
</div>
<br> 

<h3 class="text">Start <span class="text-highlight">Winning</span></h3>
<br>
<br>

<div class="section-body">
  <a [routerLink]="['/', 'coaches']" style="color: white">See our Coaches</a>
</div>


<!-- <div class="container">

  <div class="row">
    <div class="col-md-4">
      <h2>Coaches</h2>
      <p>We have awesome coaches! Have a look at them and start learning right away!</p>
      <p><a class="btn btn-secondary" [routerLink]="['/', 'coaches']" role="button">View coaches &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Categories</h2>
      <p>We organize courses by categories. Find what you are looking for!</p>
      <p><a class="btn btn-secondary" [routerLink]="['/', 'categories']" role="button">View categories &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Reporting</h2>
      <p>Have a look at our awesome reporting!</p>
      <p><a class="btn btn-secondary" [routerLink]="['/', 'reporting']" role="button">View reports &raquo;</a></p>
    </div>
  </div>

  <hr>
</div> -->